<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title | escape }} {% endif %}</title>
    {% include geturl.html %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: SourceUrl }}">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>
<body>
    <div class="container">
        <header>
            <ul>
                <li><a href="{{ / | prepend: SourceUrl }}">All</a></li>
                {% for post in site.posts %}														
                    {% if post.title %}
                        <li><a href="{{ post.url | prepend: SourceUrl }}">{{ post.nickname }}</a></li>
                    {% endif %}			
                {% endfor %}
            </ul>
        </header>
    </div>